# UC3 - Desenvolver aplicações back-end para web

Exercícios de revisão Python

### 1. Variáveis

1.1 Crie uma variável chamada nome e guarde dentro dela o seu nome.
Depois use o print() para mostrar o nome na tela.

In [ ]:
nome = "Eduardo"
print(nome)

1.2 Crie uma variável chamada idade e guarde nela sua idade.
Depois, mostre a mensagem:
"Você tem X anos" (substituindo X pela idade guardada).

In [3]:
idade = 22
print(f"Você tem {idade} anos")

Você tem 22 anos

1.3 Guarde dois números diferentes em duas variáveis chamadas n1 e n2.
Some os dois e mostre o resultado com print().

In [4]:
n1 = 13
n2 = 12
soma = n1 + n2
print(soma)

25

1.4 Crie duas variáveis chamadas a e b, com valores diferentes.
Depois troque os valores de a com b e mostre o resultado final.

In [9]:
a = 1
b = 2

temporaria = a
a = b
b = temporaria

print(f"os valores das variáveis são a={a} b={b}")

os valores das variáveis são a=2 b=1

1.5 Crie duas variáveis: nome e idade.
Mostre a frase: "Fulano tem X anos" usando as variáveis.

In [10]:
nome = "Eduardo"
idade = 22

print(f"{nome} possui {idade} anos")

Eduardo possui 22 anos

### 2. Conversão entre tipos

2.1 Peça para o usuário digitar um número. Converta para int e mostre o dobro desse número.
Dica: use int(input()).

In [14]:
numero = int(input("Digite um número:"))
print(f" o dobro deste número é {2*numero}")

Digite um número 2

 o dobro deste número é 4

2.2 Peça a idade da pessoa e converta para número e diga se é maior de idade (18 ou mais).

In [18]:
idade = int(input("Digite sua idade:"))
if idade >= 18:
    print("Você é maior de idade")
else:
    print("Você é menor de idade")

Digite sua idade 19

Você é maior de idade

2.3 Peça um nome e verifique se a pessoa digitou algo ou deixou em branco.

In [22]:
nome = input("Digite seu nome aqui:")
if nome == "":
    print("Você deixou seu nome em branco!")

Digite seu nome aqui edu

2.4 Peça um número, converta para inteiro, e diga se é positivo, negativo ou zero.

In [28]:
num = int(input("Digite um número:"))
if num >= 0:
        print("Seu número é um número positivo")
elif num == 0:
    print("Seu número é 0")
else:
    print("Seu número é um número negativo")

Digite um número: -1

Seu número é um número negativo

2.5 Peça um número, converta para inteiro, e verifique se é par ou ímpar.

In [30]:
num = int(input("Digite um número:"))

if((num % 2) == 0):
    print("É um número par")
else:
    print("É um número ímpar")

Digite um número: 2

É um número par

### 3. Trabalhando com datas

3.1 Peça para o usuário digitar sua data de nascimento no formato dd/mm/yyyy.
Mostre a data digitada.

In [32]:
data = input("Digite a data de seu nascimento (dd/mm/aaaa) por favor:")

print(f"A data digitada foi {data}.")

Digite a data de seu nascimento (dd/mm/aaaa) por favor: 22/04/2003

A data digitada foi 22/04/2003.

3.2 A partir da data digitada (no formato dd/mm/yyyy), separe o dia, o mês e o ano usando split().

In [49]:
data = input("Digite a sua data de nascimento (dd/mm/aaaa):")
separado = data.split("/")
print(f"dia informado: {separado[0]}")
print(f"mês informado: {separado[1]}")
print(f"ano informado: {separado[2]}")

Digite a sua data de nascimento (dd/mm/aaaa): 22/043/24356

dia informado: 22
mês informado: 043
ano informado: 24356

3.3 Pegue a data digitada no formato dd/mm/yyyy e mostre no formato yyyy-mm-dd.

In [36]:
data = input("Digite a sua data de nascimento (dd/mm/aaaa):")
separado = data.split("/")
separado.reverse()
unido = "-".join(separado)
print(unido)

Digite a sua data de nascimento (dd/mm/aaaa): 22/04/2003

2003-04-22

3.4 Use a biblioteca datetime para calcular a idade da pessoa com base no ano atual.

In [51]:
from datetime import datetime

data = input("Digite sua data de nascimento no formato 'dd/mm/aaaa':")

separado = data.split("/")
datanasc = separado[2]
datanasc = int(datanasc)
dataatual = int(datetime.now().year)
idade = dataatual- datanasc
print(f"Você tem {idade} anos.")

Digite sua data de nascimento no formato 'dd/mm/aaaa': 22/04/2003

Você tem 22 anos.

3.5 Use datetime.strptime() para tentar converter a data.
Se der erro, avise o usuário.

In [ ]:
## from datetime import datetime
while True:
    data = input("Digite a data de nascimento (dd/mm/aaaa):")
    try:
        data_convertida = datetime.strptime(data, "%d/%m/%y")
        print(f"A data informada foi {data_convertida}")
        break
    except:
        print("Data no formato incorreto")

### 4. Listas

4.1 Crie uma lista chamada nomes com 3 nomes dentro.
Use print() para mostrar a lista completa e também o primeiro nome separado.

In [ ]:
nomes = ['Eduardo','Robson','André']
print(f"Os nomes presentes na lista são: {nomes}")
print(f"O primeiro nome da lista é {nomes[0]}")

4.2 Crie uma lista vazia chamada compras.
Use append() para adicionar 3 itens e mostre a lista final.

In [ ]:
compras =[]
compras.append('Mamão')
compras.append('Melão')
compras.append('Melancia')
print(compras)

4.3 Com uma lista de 4 frutas, remova uma fruta e troque outra por um novo nome.

In [ ]:
frutas = ['Melancia','Abacaxi','Manga','Tomate']
frutas.remove("Melancia")
frutas[2] = 'Abacate'
print(frutas)

4.4 Peça para o usuário digitar nomes de 3 amigos.
Guarde numa lista e depois mostre quantos nomes foram digitados.

In [ ]:
amigos = []
amigos1 = input("Digite o nome do Primeiro amigo")
amigos2 = input("Digite o nome do Segundo amigo")
amigos3 = input("Digite o nome do Terceiro amigo")

amigos.append(amigos1)
amigos.append(amigos2)
amigos.append(amigos3)
print(f"O número de nomes digitados é: ",len(amigos))

4.5 Crie uma lista de 4 filmes que você gosta e mostre um por linha usando um for.

In [ ]:
filmes = ['Frozen','Enrolados','Your Name','Matrix','Quarteto Fantástico']
print("Meus filmes favoritos são:")
for filme in filmes:
    print (filme)

### 5. Dicionários

5.1 Crie um dicionário chamado pessoa com as chaves: nome, idade e cidade.
Mostre as informações usando print().

In [ ]:
pessoa = {"nome": "Eduardo", "idade": "22", "cidade": "Florianópolis"}
print("nome:", pessoa["nome"])
print("idade:", pessoa["idade"])
print("cidade:", pessoa["cidade"])

5.2 Usando o dicionário pessoa, adicione a chave profissão com algum valor.
Depois, mostre o dicionário completo.

In [ ]:
pessoa = {"nome": "Eduardo", "idade": "22", "cidade": "Florianópolis"}
pessoa["profissão"] = "Desenvolvedor"
print(pessoa)

5.3 Altere o valor da idade da pessoa para um novo número.

In [ ]:
pessoa = {"nome": "Eduardo", "idade": "22", "cidade": "Florianópolis"}
pessoa["idade"] = "25"

5.4 Remova a chave cidade do dicionário usando del e mostre o resultado.

In [ ]:
pessoa = {"nome": "Eduardo", "idade": "22", "cidade": "Florianópolis"}
del pessoa ["cidade"]
print(pessoa)

5.5 Peça ao usuário para digitar seu nome, idade e cidade,
e guarde as informações em um dicionário chamado usuario.
Depois mostre os dados formatados.

In [ ]:
nome =input("Digite seu nome:")
idade =input("Digite sua idade:")
cidade =input("Digte sua cidade:")

usuario = {"nome": nome, "idade": idade, "cidade": cidade}
print(f"\n O usuário se chama {usuario['nome']}, tem {usuario['idade']} anos e mora em {usuario['cidade']}.")

### 6. Listas + Dicionários

6.1 Crie uma lista chamada alunos, onde cada item é um dicionário com nome e idade.
Adicione pelo menos 3 alunos manualmente e mostre todos os dados.

In [ ]:
alunos = [{"nome": "Matheus", "idade": "21",},{"nome": "Fernando", "idade": "37",}, {"nome": "Fábio", "idade": "7",}]
print(alunos)

6.2 Peça ao usuário para digitar nome e idade de uma pessoa.
Guarde os dados em um dicionário e adicione à lista alunos.

In [ ]:
nome =input("Digite um nome:")
idade =input("Digite uma idade:")
alunos = [{"nome": nome, "idade": idade}]
print(alunos)

6.3 Use a lista alunos e diga quantos têm mais de 20 anos.

In [ ]:
alunos = [{"nome": "Eduardo", "idade": 22,},{"nome": "Fernanda", "idade": 37,}, {"nome": "Fábio", "idade": 7,}]
maior_que_20 = 0
for aluno in alunos:
    idade = int(aluno["idade"])
    if idade > 20:
        maior_que_20 +=1
print(f"total de alunos com mais que 20 anos: {maior_que_20}")

6.4 Crie uma nova lista chamada nomes que contenha apenas os nomes dos alunos da lista alunos.

In [ ]:
alunos = [{"nome": "Eduardo", "idade": 22},{"nome": "Fernando", "idade": 32}, {"nome": "Fábio", "idade": 17}]
nomes = [aluno["nome"] for aluno in alunos]
print(nomes)

6.5 Usando a biblioteca json, transforme a lista alunos em uma string JSON e mostre na tela.

In [ ]:
import json

alunos = [
    {"nome": "Eduardo", "idade": 22},
    {"nome": "Fernando", "idade": 32},
    {"nome": "Fábio", "idade": 17}
]

alunos_json = json.dumps(alunos, ensure_ascii=False)
print(alunos_json)

### 7. Tratamento de erro

7.1 Peça ao usuário para digitar um número.
Use try para converter com int() e mostre o dobro do número.
Se der erro, mostre uma mensagem amigável.

In [ ]:
try:
    numero = int(input("digite um número:"))
    dobro_Numero = numero * 2
    print(f"O dobro do número é: ", {dobro_Numero})
except:
    print("não foi possível mostrar o dobro deste número")

7.2 Use o dicionário abaixo.
`pessoa = {"nome": "Carlos", "idade": 40, "cidade": "Natal"}`
Peça ao usuário para digitar uma chave (ex: nome, idade, cidade).
Use try para mostrar o valor, e trate o erro se a chave não existir.

In [ ]:
pessoa = {"nome": "Carlos", "idade": 40, "cidade": "Natal"}
chave = input("Digite uma chave (ex: nome, idade, cidade)")

try: 
    valor = pessoa[chave]
    print(f"O valor desta chave é: {valor}")
except KeyError:
    print("Essa chave não existe")

7.3 Peça dois números e divida o primeiro pelo segundo.
Use try para evitar divisão por zero.

In [ ]:
numero1 = float(input("digite o primeiro número"))
numero2 = float(input("digite o segundo número"))

try: 
    divisao = numero1/numero2
    print(f"A divisão dos números é: {divisao}")
except ValueError:
    print("A divisão dos números não foi possível")

7.4 Peça um número inteiro.
Se for inválido, mostre um erro.
Se for negativo, mostre uma mensagem especial.

In [ ]:
try:
    n1 =int(input("Digite um número inteiro:"))
    if n1 < 0:
        print("Você digitou um número negativo")
    else:
        print(f"Você digitou o número: {n1}")
except ValueError:
    print("Erro:Número inválido. Por favor digite um número inteiro.")

7.5 Peça nome e idade da pessoa.
Use try para garantir que a idade seja número.
Se tudo estiver certo, mostre os dados.

In [ ]:
nome =input("Digite seu nome")
try:
    idade =int(input("Digite sua idade"))
    print(f"Seu nome é: {nome}.")
    print(f"Sua idade é: {idade}.")
except ValueError:
    print("Erro:Idade inválida. Por favor digite um número inteiro válido.")

### 8. Metodos

8.1 Crie um função que receba dois numeros e retone a soma entre eles

In [ ]:
def somar(a, b):
    a = float(input("Digite o primeiro número"))
    b = float(input("Digite o segundo número"))
    soma = a + b
    return soma

8.2 Crie um função que receba dois numeros e retone a subtracao entre eles

In [ ]:
def sub(a, b):
    a = float(input("Digite o primeiro número"))
    b = float(input("Digite o segundo número"))
    sub = a - b
    return sub

8.3 Crie um função que receba dois numeros e retone a divisão entre eles

In [ ]:
def dividir(a, b):
    a = float(input("Digite o primeiro número"))
    b = float(input("Digite o segundo número"))
    if b == 0:
        return "Erro: divisão por zero não é permitida."
    return a / b

8.4 Crie um função que receba dois numeros e retone a multiplicacao entre eles

In [ ]:
def sub(a, b):
    a = float(input("Digite o primeiro número"))
    b = float(input("Digite o segundo número"))
    mul = a + b
    return mul

8.5 Crie um função que receba dois numeros e retone a subtracao entre eles

In [ ]:
def sub(a, b):
    a = float(input("Digite o primeiro número"))
    b = float(input("Digite o segundo número"))
    sub = a - b
    return sub

8.6 Crie um função que receba dois numeros e a operação, essa funcao deve verificar a operação e executar os metodos anteriores

In [ ]:
def calcular(a, b, operacao):
    a = float(input("Digite o primeiro número"))
    b = float(input("Digite o segundo número"))
    operacao =input("Digite qual operação deseja (ex: soma, subtração, multiplicação, divisão)")
    if operacao == 'soma':
        return a + b
    elif operacao == 'subtração':
        return a - b
    elif operacao == 'multiplicação':
        return a * b
    elif operacao == 'divisão':
        if b != 0:
            return a / b
        else:
            return "Erro: divisão por zero"
    else:
        return "Operação inválida"